
<body>
  <div class="chat-container">
    <h1><b>Welcome to Argusoft's Web Chat Application!</b></h1>
    <p>We are excited to have you on board and look forward to providing you with a seamless communication experience. Our chat application is designed to keep you connected with your colleagues and friends, both officially and unofficially, to keep the firm active. Through live chat conversations, businesses can initiate contact with website visitors, provide customer support, or interact with returning customers.</p>
    <p>We understand that in present fast-paced digital world, customers seek convenient and quick results. Integrating live chat into your website provides customers with accessible and timely support, which can be a game-changer when it comes to standing out among competitors. To ensure that you have a seamless experience, we have designed our application to be user-friendly and easy to navigate. Our team is always available to provide you with any assistance you may need.</p>
    <p>Thank you for choosing Argusoft's Web Chat Application.</p>
    <p>We hope you enjoy using it!</p>
    <p>Choose an option below:</p>
  <nav>
    <div class="button-container">
    <a href="" routerLink="/home">Home</a> 
    <a href="" routerLink="/login">Login</a> 
    <a href="" routerLink="/signup">Signup</a>
    </div>
  </nav>
</div>
</body>
<router-outlet></router-outlet>
